<section class="index-page">

  <p class="avatar">
  </p>
  <h1>Hello !</h1>
  <a href="http://localhost:8000/auth.logout">Log out</a>
  <a href="http://localhost:8000/user/profile" class="loginBtn loginBtn--google">Profile</a>

</section>