<section class="index-page">
<h1>Profile</h1>
  <p>Please authorize before using this site</p>
  <a href="http://localhost:8000/user/profile/google" class="loginBtn loginBtn--google">
    Login with Google
  </a>

  <a href="http://localhost:8000/user/profile/settings">Settings </a>
</section>